body {
    background-color: #0f0f0f; /* Ciemne tło */
    color: #00ff99;           /* Neonowa zieleń */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border: 2px solid #00ff99;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 255, 153, 0.2);
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}